<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div th:object="${errorMessage}">
        <p>Status code: <span th:text="*{statusCode}"></span></p>
        <p>Time stamp: <span th:text="*{timeStamp}"></span></p>
        <p>Message: <span th:text="*{message}"></span></p>
        <p>Description: <span th:text="*{description}"></span></p>
    </div>
</body>
</html> -->